body{
	background:url("![background1](https://user-images.githubusercontent.com/32744612/34816814-0e88497c-f6dc-11e7-8d28-888bdb903478.jpg)") no-repeat;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 25px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 8px 4px;
    cursor: pointer;
    margin-left: 500px;
}

h1{
	color:red;
	font-size: 45px;
	text-align: center;
	font-family:'Sedgwick Ave Display', cursive;;
}
.game{
	font-size:35px;
	font-family:'Courgette', cursive;
	color:orange;
}
.gear{
	font-size: 30px;
	font-family:'Sacramento', cursive;

}
#font{
	color: #00FFFF;
}

.gear1{
	font-size: 30px;
	font-family:'Sacramento', cursive;
}
.align{
	text-align: center;
}
.background1{
	background: url("[![background2.jpg](https://s26.postimg.org/f7n1kj0tl/background2.jpg)](https://postimg.org/image/9jgqtmwh1/)")no-repeat;
}

.gear2{
	font-size: 30px;
	font-family:'Sacramento', cursive;
}
.background2{
	background: url("img/doomed.jpg") no-repeat;
}
.gear3{
font-size: 30px;
	font-family:'Sacramento', cursive;	
}
.background3{
	background: url("img/background3.jpg") no-repeat;
}
.game1{
font-family:'Macondo', cursive;;
	font-size:30px;
	color: #00FFFF;
}
.game3{
	font-family:'Macondo', cursive;;
	font-size:30px;
	color: black;
}
.game4{
font-size: 30px;
	font-family:'Sacramento', cursive;
color:	#00FA9A	;	
}
.gear4{
font-size: 30px;
	font-family:'Indie Flower', cursive;	
}
.background4{
	background: url("img/background4.jpg") no-repeat;
}
.background5{
	background: url("img/background5.jpg") no-repeat;
}
.background6{
	background:url("img/background6.jpg") no-repeat;
}
.game2{
	color: orange;
	font-size: 30px;
	font-family:'Shadows Into Light', cursive;
}
.background7{
	background: url("img/background7.jpg") no-repeat;
}
.background8{
	background: url("img/background8.jpg") no-repeat;
}
.background9{
	background:url("img/backgroung9.jpg") no-repeat;
}
.background10{
	background: url("img/background10.png") no-repeat;
}
.background11{
	background: url("img/background11.jpg") no-repeat;
}
.background12{
	background: url("img/background12.jpg") no-repeat;
}
.background13{
	background: url("img/background13.jpg") no-repeat;
}
.background14{
	background: url("img/background14.jpg") no-repeat;
}

/*lights*/
.lightrope {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin: -500px 0 0 0;
    padding:0;
    pointer-events: none;
    width: 100%;
}
.lightrope li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 12px;
    height: 28px;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
    background: #00f7a5;
    box-shadow: 0px 4.66666667px 24px 3px #00f7a5;
    animation-name: flash-1;
    animation-duration: 2s;
}
.lightrope li:nth-child(2n+1) {
    background: cyan;
    box-shadow: 0px 4.66666667px 24px 3px rgba(0, 255, 255, 0.5);
    animation-name: flash-2;
    animation-duration: 0.4s;
}
.lightrope li:nth-child(4n+2) {
    background: #f70094;
    box-shadow: 0px 4.66666667px 24px 3px #f70094;
    animation-name: flash-3;
    animation-duration: 1.1s;
}
.lightrope li:nth-child(odd) {
    animation-duration: 1.8s;
}
.lightrope li:nth-child(3n+1) {
    animation-duration: 1.4s;
}
.lightrope li:before {
    content: "";
    position: absolute;
    background: #222;
    width: 10px;
    height: 9.33333333px;
    border-radius: 3px;
    top: -4.66666667px;
    left: 1px;
}
.lightrope li:after {
    content: "";
    top: -14px;
    left: 9px;
    position: absolute;
    width: 52px;
    height: 18.66666667px;
    border-bottom: solid #222 2px;
    border-radius: 50%;
}
.lightrope li:last-child:after {
    content: none;
}
.lightrope li:first-child {
    margin-left: -40px;
}

@keyframes flash-1 {
    0%, 100% {
        background: #00f7a5;
        box-shadow: 0px 4.66666667px 24px 3px #00f7a5;
    }
    50% {
        background: rgba(0, 247, 165, 0.4);
        box-shadow: 0px 4.66666667px 24px 3px rgba(0, 247, 165, 0.2);
    }
}
@keyframes flash-2 {
    0%, 100% {
        background: cyan;
        box-shadow: 0px 4.66666667px 24px 3px cyan;
    }
    50% {
        background: rgba(0, 255, 255, 0.4);
        box-shadow: 0px 4.66666667px 24px 3px rgba(0, 255, 255, 0.2);
    }
}
@keyframes flash-3 {
    0%, 100% {
        background: #f70094;
        box-shadow: 0px 4.66666667px 24px 3px #f70094;
    }
    50% {
        background: rgba(247, 0, 148, 0.4);
        box-shadow: 0px 4.66666667px 24px 3px rgba(247, 0, 148, 0.2);
    }
}
/* SOCIAL network*/
footer {
  padding: 20px 40px 30px;
}

  #contact .section-title {
   color: rgba(33,33,33,0.6);
   text-align: center;
  }
  
  #contact .section-title-underline {
   color: rgba(33,33,33,0.6);

  }

  #contact {
    padding: 20px 0;
  }

  #contact .social-media {
    font-size: 24px;
    color: black;
  }

  .social-media {
    text-align: center;
  }

  .social-media a, .social-media a:link, .social-media a:visited {
    display: inline;
    font-size: 40px;
    padding: 1px 6px;
    text-align: center;
  }

  .social-media a:hover, .social-media a:active {
    background-color: black;
    border-radius: 5px;
  }

  .footer .author {
    color: black;
  }

  .footer .copyright {
    margin: 0;
    color: black;
  }
